/*
*
* =====================
* MEDIA QUERRIES
* =====================
*
*/
@media screen and (max-width: 768px), (max-width: 1023px) {
    /* Header */

    .hero-items, .about-items {
        flex-direction: column;
    }

    .hero-title {
        max-width: 100%;
        font-size: 2rem!important;
    }

    .hero-item-1 span {
        margin-right: 2rem!important;
    }

    .responsive-img {
        max-width: 100%;
    }

    /* About */
    .about-figures {
        flex-direction: column;
        margin-top: 3.5rem;
    }

    .about-item-2 {
        margin-left: 0!important;
    }

    .fig {
        margin-bottom: 1.5rem;
    }

   h2 {
    font-size: 1.3rem;
   }

   .earn-form {
    flex-direction: column;
   }

   .earn-form input, select {
    margin-bottom: 2rem;
   }

   .earn-form button {
    max-width: 50%;
   }

   /* MARKET */
   .assets-items, .market-item, .subscribe-items {
    grid-template-columns: repeat(1, 1fr)!important;
   }

   .sub-form {
        flex-direction: column;
    }

    .sub-form input {
        margin-bottom: 1.5rem;
    }

    /* FOOTER */

    .footer-items {
        grid-template-columns: repeat(1, 1fr)!important;
        text-align: center;
    }

    .copywrite {
        flex-direction: column;
    }

}

@media screen and (max-width: 1023px) {

    .nav-close {
        right: 2rem;
    }

    .navbar {
        position: absolute;
        background-color: #252540;
        width: 100%;
        height: 100vh;
        right: 0;
        top: 0;
        left: auto;
        bottom: 0;
        z-index: 999;
        display: none;
        transition: all 1s ease-in-out;
    }

    .brand {
        display: none;
    }
    
    .menu, .mainMenu {
        flex-direction: column;
        align-items: center;
    }
    
    .menu-wrap {
        flex-direction: column;
        margin: 11rem auto;
    }
    
    .mainMenu a {
        margin-right: 0!important;
        margin-bottom: 2rem!important;
        display: inline-block;
        font-size: 1.5rem;
    }

    .buttons a, .buttons button {
        font-size: 1.5rem;
    }

    .footer-brand {
        margin-bottom: 2rem;
    }
}


@media screen and (min-width: 1023px) {
    .nav-open, .nav-close {
        display: none;
    }

    .form {
        max-width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .menuBrand {
        display: none;
    }
}